<main>
 <img src="https://www.dropbox.com/s/mgokrrx039bnfbk/WIN_20180708_11_21_24_Pro.jpg?raw=1">
 <p>
   I am a computer science student at the University of Utah. I have a bachelor's degree in biology from UVU (2017). I am interested in applying computer science methods to biology, particularly to do with the connectome. This summer, I am working on finishing Codecademy to gain a solid foundation in computer coding skills.
 </p>
</main>