<main>
 <h3>Here are a few ways you could contact me:</h3>
 <ul>
   <li>Email: <a href="mailto:superfakek@gmail.com">superfakek@gmail.com</a></li>
   <li>Github: <a href="https://github.com/joshparkerj">github.com/joshparkerj</a></li>
   <li>Twitter: <a href="https://twitter.com/TheButtsicles">twitter.com/TheButtsicles</a></li>
   <li>LinkedIn: <a href="https://www.linkedin.com/in/joshnparker/">linkedin.com/in/joshnparker</a></li>
 </ul> 
</main>