<main>
  <div class="carousel">
    <div>
      <h3>Bass Music</h3>
      <img src="https://www.dropbox.com/s/datsi0fhanpb7dg/bass-music-half.png?raw=1">
      <a href="https://floating-plateau-31616.herokuapp.com/">See the site here</a>
    </div>
    <div>
      <h3>Bolt Network</h3>
      <img src="https://www.dropbox.com/s/ghzcn6lz5xit7zv/bolt-network-half.png?raw=1">
      <a href="https://mighty-oasis-35925.herokuapp.com/">See the site here</a>
    </div>
    <div>
      <h3>Bookmarks</h3>
      <img src="https://www.dropbox.com/s/4psny92l6cyshfb/bookmarks-half.png?raw=1">
      <a href="https://still-stream-66922.herokuapp.com/">See the site here</a>
    </div>
    <div>
      <h3>Broadway</h3>
      <img src="https://www.dropbox.com/s/vzh52hsm0ytgavv/broadway-half.png?raw=1">
      <a href="https://afternoon-forest-37390.herokuapp.com/">See the site here</a>
    </div>
    <div>
      <h3>Innovation Cloud</h3>
      <img src="https://www.dropbox.com/s/2psq3rmt1hbo5jz/innovation-cloud-half.png?raw=1">
      <a href="https://quiet-tor-26830.herokuapp.com/">See the site here</a>
    </div>
    <div>
      <h3>Threadly</h3>
      <img src="https://www.dropbox.com/s/dd3vpdrbvotn94y/threadly-half.png?raw=1">
      <a href="https://afternoon-headland-99935.herokuapp.com/">See the site here</a>
    </div>
  </div>
  <section class="supporting">
    <div>
      <h2>Bass Music</h2>
      <img src="https://www.dropbox.com/s/qifdtt9gpu597qy/bass-music-quarter.png?raw=1">
      <p class="site-description">
        A site with albums and several tracks per album.
      </p>
      <a href="https://floating-plateau-31616.herokuapp.com/">See the site here</a>
    </div>
    <div>
      <h2>Bolt Network</h2>
      <img src="https://www.dropbox.com/s/qxqx2j9146tskun/bolt-network-quarter.png?raw=1">
      <p class="site-description">
        A static site demonstrating the use of HTTP routes to serve a couple different pages.
      </p>
      <a href="https://mighty-oasis-35925.herokuapp.com/">See the site here</a>
    </div>
    <div>
      <h2>Bookmarks</h2>
      <img src="https://www.dropbox.com/s/c09z5gm0t7euaqf/bookmarks-quarter.png?raw=1">
      <p class="site-description">
        A site with books and several reviews per book.
      </p>
      <a href="https://still-stream-66922.herokuapp.com/">See the site here</a>
    </div>
    <div>
      <h2>Broadway</h2>
      <img src="https://www.dropbox.com/s/ihurt9ohv9wrui0/broadway-quarter.png?raw=1">
      <p class="site-description">
        A static site demonstrating the use of HTML and CSS to define and style documents.
      </p>
      <a href="https://afternoon-forest-37390.herokuapp.com/">See the site here</a>
    </div>
    <div>
      <h2>Innovation Cloud</h2>
      <img src="https://www.dropbox.com/s/r22a3s4bua8iqyr/innovation-cloud-quarter.png?raw=1">
      <p class="site-description">
        A site with a database implementing a mailing list.
      </p>
      <a href="https://quiet-tor-26830.herokuapp.com/">See the site here</a>
    </div>
    <div>
      <h2>Threadly</h2>
      <img src="https://www.dropbox.com/s/g4cdtmbf9z8l0vp/threadly-quarter.png.png?raw=1">
      <p class="site-description">
        A site with a thread of comments.
      </p>
      <a href="https://afternoon-headland-99935.herokuapp.com/">See the site here</a>
    </div>
  </section>
  <%= javascript_include_tag "slick_carousel.js" %>
</main>