<main>
  <div class="carousel">
    <div>
      <img src="https://www.dropbox.com/s/qifdtt9gpu597qy/bass-music-quarter.png?raw=1">
    </div>
    <div>
      <img src="https://www.dropbox.com/s/qxqx2j9146tskun/bolt-network-quarter.png?raw=1">
    </div>
    <div>
      <img src="https://www.dropbox.com/s/c09z5gm0t7euaqf/bookmarks-quarter.png?raw=1">
    </div>
    <div>
      <img src="https://www.dropbox.com/s/ihurt9ohv9wrui0/broadway-quarter.png?raw=1">
    </div>
    <div>
      <img src="https://www.dropbox.com/s/r22a3s4bua8iqyr/innovation-cloud-quarter.png?raw=1">
    </div>
    <div>
      <img src="https://www.dropbox.com/s/g4cdtmbf9z8l0vp/threadly-quarter.png.png?raw=1">
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('.carousel').slick();
    });
  </script>	
</main>