<header>
 <h1>Joshua Parker</h1>
 <nav>
 </nav>
</header>
<main>
 <h1>Computer Science Student</h1>
 <button>View my Work</button>
</main>
<footer>
<a href="https://github.com/joshparkerj">
 <img src="https://www.dropbox.com/s/cer0qtlawgu763v/github.svg?raw=1">
</a>
<a href="https://www.linkedin.com/in/joshnparker/">
 <img src="https://www.dropbox.com/s/1nnp2rm5i54awi3/linkedin.svg?raw=1">
</a>
<a href="https://twitter.com/TheButtsicles">
 <img src="https://www.dropbox.com/s/9ufgirx66wuj5v2/twitter.svg?raw=1">
</a>
<span class="copyright">Copyright 2018 Joshua Parker</span>
</footer>