// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
 background-color: black;
 color: white;
}
header {
 margin: 0px;
}
h1 {
 text-shadow: 2px 0 2px black, -2px 0 2px black, 0 2px 2px black, 0 -2px 2px black,
              4px 0 4px black, -4px 0 4px black, 0 4px 4px black, 0 -4px 4px black,
	      2px 2px 3px black, 2px -2px 3px black, -2px 2px 3px black, -2px -2px 3px black,
	      4px 4px 5px black, 4px -4px 5px black, -4px 4px 5px black, -4px -4px 5px black;
}
main {
 min-height: 68vh;
 background-image: url(https://www.dropbox.com/s/1rrr4d5jqk87y9s/robots_and_stars.png?raw=1);
}
footer img {
 height: 40px;
 width: 40px;
}
footer {
 position: fixed;
 bottom: 0px;
}
button {
 color: red;
 font-weight: bold;
 display: block;
 margin: 20vh auto;
 width: 120px;
}
.carousel {
 height: 80vh;
 width: 683px;
 margin: auto;
 display: block;
}
.carousel button {
 font-size: 0;
 line-height: 0;
 display: block;
 height: 20px;
 padding: 5px;
 cursor: pointer;
 color: white;
 border: white 4px;
 outline: none;
 background: rgba(0,0,0,0);
 margin: auto;
}
.slick-next {
 right: -25px;
}
.slick-prev {
 left: -25px;
}
.supporting {
 display: grid; 
 grid-template-columns: 1fr 1fr 1fr; 
 grid-template-rows: 1fr 1fr;
 margin-bottom: 80px;
}
.supporting div {
 background-color: rgba(0,0,0,.95);
 margin: 20px;
}